<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .container {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .result {
            margin-top: 30px;
            text-align: center;
        }

        .title {
            margin-bottom: 10px;
        }

        .card-breadcrumb {
            background: #fafafa;
            margin-bottom: 10px;
            width: fit-content;
        }

        .bc-el {
            margin: auto;
            padding: 5px;
        }
        .breadcrumb-item > a {
            text-decoration: none
        }
    </style>
</head>
<body>
<div class="container">
    {% block body %}{% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

{% block javascripts %}
{% endblock %}
</body>
</html>
