{% extends 'base.html.twig' %}

{% block title %}details{% endblock %}

{% block body %}
    <h1 class="title">Details</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item">Model edit</li>
            </ol>
        </nav>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('neural_pilot_remove', {id: model.id}) }}" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>

    <div class="col-md-7">
        <form action="{{ path('neural_pilot_edit-added-model', {id: model.id}) }}" method="post"
              enctype="multipart/form-data">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="nameInput" name="nameInput" value="{{ model.name }}">
                <label for="nameInput">Name</label>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="classNamesInput" name="classNamesInput"
                       value="{{ model.classNames }}">
                <label for="classNamesInput">Class names (separate by ',')</label>
            </div>

            <div class="form-floating mb-3">
            <textarea
                    class="form-control"
                    placeholder="Description…"
                    id="descriptionTextarea"
                    name="descriptionInput"
                    cols="10">{{ model.description }}</textarea>
                <label for="descriptionTextarea">Description</label>
            </div>

            <button type="submit" class="btn btn-primary" name="submitInput">Save</button>
        </form>

        {% if model.status == 1 %}
            <hr>

            <div class="card">
                <div class="card-header">
                    API
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Get Details about model</b><br>
                        <code>curl -X GET http://localhost:8000/api/model/details/{{ model.id }}</code><br>
                        <b>Run model</b><br>
                        <code>curl -X POST -F "itemInput=@/path/to/file.jpg" http://localhost:8000/api/model/run/{{ model.id }}</code>
                    </p>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
