{% extends 'base.html.twig' %}

{% block title %}details{% endblock %}

{% block body %}
    <h1 class="title">Details</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item">Model edit</li>
            </ol>
        </nav>
    </div>

    <div class="mb-3">
        <div class="row">
            <div class="col-md-2">
                <a href="{{ path('neural_pilot_remove', {id: model.id}) }}" class="btn btn-danger">Remove</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-7">
            <form action="{{ path('neural_pilot_edit-created-model', {id: model.id}) }}" method="post"
                  enctype="multipart/form-data">

                <b>Model</b>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="nameInput" name="nameInput" value="{{ model.name }}">
                    <label for="nameInput">Name</label>
                </div>

                {% if model.path %}
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="classNamesInput" name="classNamesInput"
                               value="{{ model.classNames }}">
                        <label for="classNamesInput">Class names (separate by ',')</label>
                    </div>
                {% endif %}

                <div class="form-floating mb-3">
            <textarea
                    class="form-control"
                    placeholder="Description…"
                    id="descriptionTextarea"
                    name="descriptionInput"
                    cols="10">{{ model.description }}</textarea>
                    <label for="descriptionTextarea">Description</label>
                </div>

                <button type="submit" class="btn btn-primary" name="submitEditModelInput">Save</button>
            </form>

            <hr>

            <form action="{{ path('neural_pilot_edit-created-model', {id: model.id}) }}" method="post"
                  enctype="multipart/form-data">
                <b>Training</b>
                <div class="form-floating mb-3">
                    <select class="form-select" aria-label="Default select example" name="datasetIdInput" required>
                        {% for dataset in datasets %}
                            {% if dataset == training.dataset %}
                                <option value="{{ dataset.id }}" selected>{{ dataset.name }}</option>
                            {% else %}
                                <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="epochsInput" name="epochsInput"
                           value="{{ training.epochs }}" required>
                    <label for="epochsInput">Epochs</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="number" class="form-control" id="batchSizeInput" name="batchSizeInput"
                           value="{{ training.batchSize }}" required>
                    <label for="batchSizeInput">Batch Size</label>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" aria-label="Default select example" name="activationInput" required>
                        <option value="relu">relu</option>
                        <option value="sigmoid">sigmoid</option>
                        <option value="tanh">tanh</option>
                        <option value="elu">elu</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <select class="form-select" aria-label="Default select example" name="optimizerInput" required>
                        <option value="adam">adam</option>
                        <option value="adagrad">adagrad</option>
                        <option value="adadelta">adadelta</option>
                        <option value="adamax">adamax</option>
                        <option value="rmsprop">rmsprop</option>
                    </select>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="imgSizeInput" name="imgSizeInput"
                           value="{{ training.imgSize }}" required>
                    <label for="imgSizeInput">Image Size (height, width)</label>
                </div>

                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="kernelsInput" name="kernelsInput"
                           value="{{ training.kernels|join(',') }}" required>
                    <label for="kernelsInput">Kernels</label>
                </div>

                <button type="submit" class="btn btn-primary" name="submitTrainAgainInput">Train Again</button>
            </form>

            {% if model.status == 3 %}
            <hr>

            <div class="card">
                <div class="card-header">
                    API
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <b>Get Details about model</b><br>
                        <code>curl -X GET http://localhost:8000/api/model/details/{{ model.id }}</code><br>
                        <b>Run model</b><br>
                        <code>curl -X POST -F "itemInput=@/path/to/file.jpg" http://localhost:8000/api/model/run/{{ model.id }}</code>
                    </p>
                </div>
            </div>
            {% endif %}
        </div>

        <div class="col-md-4 offset-md-1">
            <br>
            {% if result %}
                <div class="card">
                    <div class="card-header">
                        Result
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                            {% for res in result %}
                                {{ res }} <br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
