{% extends 'base.html.twig' %}

{% block title %}index{% endblock %}

{% block body %}
    <h1 class="title">ML Result</h1>

    <div class="row">
        <div class="col-md-6">
            <form action="{{ path('neural_pilot_index') }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <select class="form-select" aria-label="Select model" name="modelInput" required>
                        <option value="" selected disabled>Select model</option>
                        {% for model in models %}
                            <option value="{{ model.id }}">{{ model.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="mb-3">
                    <label for="formFile" class="form-label">Choose the item file</label>
                    <input class="form-control" type="file" id="formFile" name="itemInput" required>
                </div>
                <button type="submit" class="btn btn-primary" name="loadModel">Fire</button>
            </form>
        </div>
        <div class="col-md-3">
            <a href="{{ path('neural_pilot_list') }}" class="btn btn-success">too few models?</a>
        </div>
    </div>

    <div id="loading" style="display: none;">
        <p>Loading...</p>
    </div>

    {% if data %}
        <div class="col-md-6">
            <div class="card result">
                <div class="card-header">
                    Result
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ data }}</h5>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.querySelector('form');
            const loadingDiv = document.getElementById('loading');

            form.addEventListener('submit', function () {
                loadingDiv.style.display = 'block';
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
    <style>
        #loading {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: white;
            border: 1px solid #ccc;
            padding: 20px;
            z-index: 1000;
        }
    </style>
{% endblock %}
