{% extends 'base.html.twig' %}

{% block title %}create{% endblock %}

{% block body %}
    <h1 class="title">Create new model</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item">Model create</li>
            </ol>
        </nav>
    </div>

    <form action="{{ path('neural_pilot_create_model') }}" method="post" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <select class="form-select" aria-label="Default select example" name="datasetIdInput" required>
                {% for dataset in datasets %}
                    <option value="{{ dataset.id }}">{{ dataset.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="epochsInput" name="epochsInput" required>
            <label for="epochsInput">Epochs</label>
        </div>

        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="batchSizeInput" name="batchSizeInput" required>
            <label for="batchSizeInput">Batch Size</label>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" aria-label="Default select example" name="activationInput" required>
                <option value="relu" selected>relu</option>
                <option value="sigmoid">sigmoid</option>
                <option value="tanh">tanh</option>
                <option value="elu">elu</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <select class="form-select" aria-label="Default select example" name="optimizerInput" required>
                <option value="adam" selected>adam</option>
                <option value="adagrad">adagrad</option>
                <option value="adadelta">adadelta</option>
                <option value="adamax">adamax</option>
                <option value="rmsprop">rmsprop</option>
            </select>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="imgSizeInput" name="imgSizeInput" required>
            <label for="imgSizeInput">Image Size (height, width)</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="kernelsInput" name="kernelsInput" required>
            <label for="kernelsInput">Kernels</label>
        </div>

        <button type="submit" class="btn btn-primary" name="submitInput">Train</button>
    </form>

{% endblock %}
