{% extends 'base.html.twig' %}

{% block title %}list{% endblock %}

{% block body %}
    <h1 class="title">Models</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item">Models</li>
            </ol>
        </nav>
    </div>

    <div class="row">
        <div class="col-md-1">
            <div class="dropdown">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                    Model...
                </button>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('neural_pilot_add') }}" class="dropdown-item">Add</a></li>
                    <li><a href="{{ path('neural_pilot_create_model') }}" class="dropdown-item">Create</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-1">
            <a href="{{ path('neural_pilot_list_dataset') }}" class="btn btn-info">Datasets</a>
        </div>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                <th scope="row">{{ model.id }}</th>
                <td>{{ model.name }}</td>
                <td>
                    {% if model.status == 1 %}
                        Added
                    {% elseif model.status == 2 %}
                        Training
                    {% elseif model.status == 3 %}
                        Created
                    {% elseif model.status == 4 %}
                        Error
                    {% elseif model.status == 5 %}
                        Cancelled
                    {% endif %}
                </td>
                <td>
                    {% if model.status == 1 %}
                        <a href="{{ path('neural_pilot_edit-added-model', {id: model.id}) }}" class="btn btn-primary">Details</a>
                    {% elseif model.status == 2 %}
                        <a href="{{ path('neural_pilot_cancel_training', {id: model.id}) }}" class="btn btn-warning">Cancel</a>
                    {% elseif model.status == 3 %}
                        <a href="{{ path('neural_pilot_edit-created-model', {id: model.id}) }}" class="btn btn-primary">Details</a>
                    {% elseif model.status == 4 %}
                        <a href="{{ path('neural_pilot_edit-created-model', {id: model.id}) }}" class="btn btn-danger">Details</a>
                    {% elseif model.status == 5 %}
                        <div class="btn-group">
                            <a href="{{ path('neural_pilot_train_again', {id: model.id}) }}" class="btn btn-info">Try
                                again</a>
                            <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                <span class="visually-hidden">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="{{ path('neural_pilot_edit-created-model', {id: model.id}) }}">Details</a>
                                <li><a class="dropdown-item" href="{{ path('neural_pilot_remove', {id: model.id}) }}">Remove</a>
                                </li>
                            </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not models %}
        <div class="row justify-content-center">
            <div class="col-md-1">
                <p>Empty list</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
