{% extends 'base.html.twig' %}

{% block title %}add{% endblock %}

{% block body %}
    <h1 class="title">Add new model</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item">Model add</li>
            </ol>
        </nav>
    </div>

    <form action="{{ path('neural_pilot_add') }}" method="post" enctype="multipart/form-data">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nameInput" name="nameInput" required>
            <label for="nameInput">Name</label>
        </div>

        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="classNamesInput" name="classNamesInput">
            <label for="classNamesInput">Class names (separate by ',')</label>
        </div>

        <div class="form-floating mb-3">
            <textarea
                    class="form-control"
                    placeholder="Description…"
                    id="descriptionTextarea"
                    name="descriptionInput"></textarea>
            <label for="descriptionTextarea">Description</label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Choose the model file</label>
            <input class="form-control" type="file" id="formFile" name="fileInput" required>
        </div>

        <button type="submit" class="btn btn-primary" name="submitInput">Save</button>
    </form>

{% endblock %}
