{% extends 'base.html.twig' %}

{% block title %}create{% endblock %}

{% block body %}
    <h1 class="title">Add new dataset</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list_dataset') }}">Datasets</a></li>
                <li class="breadcrumb-item">Datasets list</li>
            </ol>
        </nav>
    </div>

    <form action="{{ path('neural_pilot_create_dataset') }}" method="post" enctype="multipart/form-data" class="mb-5">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="nameInput" name="nameInput" required>
            <label for="nameInput">Name</label>
        </div>

        <div class="mb-3">
            <label for="formFile" class="form-label">Choose the dataset file</label>
            <input class="form-control" type="file" id="formFile" name="fileInput" required>
        </div>

        <button type="submit" class="btn btn-primary" name="submitInput">Save</button>
    </form>

    <pre>
        Wymagania:
        - przesyłany plik z datasetem musi mieć rozszerzenie .zip
        - zdjęcia muszą mieć format .jpg
        - Przykładowa struktura:
            Dataset
                -> test
                    -> arabica
                    -> robusta
                -> train
                    -> arabica
                    -> robusta
                -> valid
                    -> arabica
                    -> robusta
    </pre>

{% endblock %}
