{% extends 'base.html.twig' %}

{% block title %}list{% endblock %}

{% block body %}
    <h1 class="title">Datasets</h1>

    <div class="card-breadcrumb">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb bc-el">
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_index') }}">Run models</a></li>
                <li class="breadcrumb-item"><a href="{{ path('neural_pilot_list') }}">Models</a></li>
                <li class="breadcrumb-item">Datasets</li>
            </ol>
        </nav>
    </div>

    <a href="{{ path('neural_pilot_create_dataset') }}" class="btn btn-success">Add dataset</a>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for dataset in datasets %}
            <tr>
                <th scope="row">{{ dataset.id }}</th>
                <td>{{ dataset.name }}</td>
                <td>
                    <a href="{{ path('neural_pilot_remove-dataset', {id: dataset.id}) }}" class="btn btn-danger">Remove</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if not datasets %}
        <div class="row justify-content-center">
            <div class="col-md-1">
                <p>Empty list</p>
            </div>
        </div>
    {% endif %}

{% endblock %}
